@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-ExtraThin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-ExtraThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Thin.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-ThinItalic.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-BoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Black.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-BlackItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue/BebasNeueRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue/BebasNeueBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue/BebasNeueLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeue/BebasNeue-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/BebasNeue/BebasNeueBook.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
