@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-BlackItalic.woff2') format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro ExtraThin';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-ExtraThin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-ThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro ExtraThin';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-ExtraThinItalic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'PF DinDisplay Pro';
  src: url('../fonts/PFDINDisplayPro/PFDinDisplayPro-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}
